In [2]:
from univariate import Uni_analysis

In [3]:
#importing libray and dataset
import pandas as pd
import numpy as np
dataset = pd.read_csv("50_Startups.csv")
dataset

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [4]:
Qual,Quan = Uni_analysis.qualquan(dataset)
print("Qual=",Qual)
print("Quan=",Quan)

Qual= ['State']
Quan= ['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']

In [5]:
table=pd.DataFrame()
table

Empty DataFrame
Columns: []
Index: []

In [6]:
descriptive = Uni_analysis.univariate_desc(dataset,Quan)
descriptive

                  R&D Spend Administration Marketing Spend       Profit
Mean             73721.6156    121344.6396     211025.0978  112012.6392
Median             73051.08     122699.795       212716.24    107978.19
Mode                    0.0       51283.14             0.0      14681.4
Q1:25%             39936.37     103730.875     129300.1325   90138.9025
Q2:50%             73051.08     122699.795       212716.24    107978.19
Q3:75%             101602.8      144842.18      299469.085  139765.9775
99%              164000.965    170419.2564     458120.1707  192031.6427
Q4:100%            165349.2      182645.56        471784.1    192261.83
IQR                61666.43      41111.305     170168.9525    49627.075
1.5 rule          92499.645     61666.9575    255253.42875   74440.6125
Lesser Outlier   -52563.275     42063.9175   -125953.29625     15698.29
Greater Outlier  194102.445    206509.1375    554722.51375    214206.59
Min                     0.0       51283.14             0.0      14681.4
Max                165349.2      182645.56        471784.1    192261.83

In [7]:
lesser,greater=Uni_analysis.to_check_outliers(Quan,descriptive)
print("Lesser:",lesser)
print("Greater:",greater)

Lesser: ['Profit']
Greater: []

In [8]:
dataset = Uni_analysis.to_replace_outlier(dataset, descriptive, lesser, greater)
print(dataset)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   15698.29

In [11]:
freqtable=Uni_analysis.freqtable('Profit',dataset)
freqtable

    Unique_values  Frequancy  Relative_Freq  CumulativeFreq
0       192261.83          1           0.02            0.02
1        89949.14          1           0.02            0.04
2       105008.31          1           0.02            0.06
3       103282.38          1           0.02            0.08
4       101004.64          1           0.02            0.10
5        99937.59          1           0.02            0.12
6        97483.56          1           0.02            0.14
7        97427.84          1           0.02            0.16
8        96778.92          1           0.02            0.18
9        96712.80          1           0.02            0.20
10       96479.51          1           0.02            0.22
11       90708.19          1           0.02            0.24
12       81229.06          1           0.02            0.26
13      191792.06          1           0.02            0.28
14       81005.76          1           0.02            0.30
15       78239.91          1           0.02            0.32
16       77798.83          1           0.02            0.34
17       71498.49          1           0.02            0.36
18       69758.98          1           0.02            0.38
19       65200.33          1           0.02            0.40
20       64926.08          1           0.02            0.42
21       49490.75          1           0.02            0.44
22       42559.73          1           0.02            0.46
23       35673.41          1           0.02            0.48
24      105733.54          1           0.02            0.50
25      107404.34          1           0.02            0.52
26      108552.04          1           0.02            0.54
27      108733.99          1           0.02            0.56
28      191050.39          1           0.02            0.58
29      182901.99          1           0.02            0.60
30      166187.94          1           0.02            0.62
31      156991.12          1           0.02            0.64
32      156122.51          1           0.02            0.66
33      155752.60          1           0.02            0.68
34      152211.77          1           0.02            0.70
35      149759.96          1           0.02            0.72
36      146121.95          1           0.02            0.74
37      144259.40          1           0.02            0.76
38      141585.52          1           0.02            0.78
39      134307.35          1           0.02            0.80
40      132602.65          1           0.02            0.82
41      129917.04          1           0.02            0.84
42      126992.93          1           0.02            0.86
43      125370.37          1           0.02            0.88
44      124266.90          1           0.02            0.90
45      122776.86          1           0.02            0.92
46      118474.03          1           0.02            0.94
47      111313.02          1           0.02            0.96
48      110352.25          1           0.02            0.98
49       15698.29          1           0.02            1.00